// Your application styles go here
body{
	font-weight: 300;
}

.relative{
	position: relative;
}

map {
	width: 100%;
	height: 100% !important;
}

.scroll, .mapWrap {
	height: 100%;
}

.clear-search {
	font-size: 18px;
}

.pac-container{
	pointer-events: auto;
	border: 0 !important;
	border-radius: 0 !important;
	top: 44px !important;
	left: 0 !important;
	width: 100% !important;
}

.pac-item{
	padding: 7px 0 !important;
}

.icon-infowindow{
	text-align: center;
	font-size: 24px;
	color: #444;
}

.button.button-calm {
	border-color: #28BC1B;
	background-color: #77F191;

	&.active, &.activated{
		border-color: #28BC1B;
		background-color: #69D680;
	}
}

.row.unlimited-items {
	flex-wrap: wrap;

	.col{
		flex: none;
		text-align: center;
		width: 33.333333%;
		font-size: .9em;
		line-height: 16px;
	}

    .badge{
    	border-radius: 50%;
		position: absolute;
		padding: 3px 7px 4px 7px;
		border: 1px solid white;

		-webkit-animation-duration: .5s;
			animation-duration: .5s;
    }
}

//
// ======== FAVORITES ========
.wrapp_favorite{
	position: relative;
	display: inline-block;
}

.img_favorited{
	border-radius: 50%;
	border: 1px solid #B2B2B2;
}

.animate-repeat.ng-enter, .animate-repeat.ng-leave {
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
	position: relative;
	display: block;
}

.animate-repeat.ng-enter.ng-enter-active, .animate-repeat.ng-leave {
	-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
}
.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-enter {
	-webkit-animation-name: fadeOutDown;
			animation-name: fadeOutDown;
}

@-webkit-keyframes wiggle {
    from {-webkit-transform: rotateZ(2deg);}
    50% {-webkit-transform: rotateZ(-2deg);}
    to {-webkit-transform: rotateZ(2deg);}
}

.wiggle {
    -webkit-animation-name: wiggle;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}

//
// ======== TEMPLATE ========
.content-template{

}
.bg-header{
	height: 60%;
	text-align: center;
	position: relative;

	.swiper-slide{
		position: relative;
	}

	.swiper-slide-first{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.bg-img{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.overlay{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.26);
	}

	h1{
		color: white;
		font-weight: 300;
		font-size: 30px;
		z-index: 1;
		// text-shadow: 0px 2px 2px rgba(0,0,0,.5); */
	}
}
.pagination {
	position: absolute;
	left: 0;
	bottom: 17%;
	width: 100%;
	z-index: 1;
	text-align: center;
}
.swiper-pagination-switch {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 10px;
	background: #999;
	margin: 0 3px;
	cursor: pointer;
}
.swiper-active-switch {
 	background: #fff;
}
.box-info{
	background-color: white;
	position: absolute;
	top: 50%;
	width: 90%;
	margin-left: -45%;
	left: 50%;
	z-index: 1;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.count-img{
	position: absolute;
	top: -25px;
	right: 0;
	color: white;
	font-size: 20px;
}
.category{
	color: #333;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(221, 221, 221);

	.open{
		color: #2ABB67;
		float: right;
	}
	.close{
		color: #CD3D2E;
		float: right;
	}
}
.address{
	color: #333;
	padding-top: 5px;

	p{
		margin: 0;
		&:last-child{ color: #999; }
	}
}
.content-map{
	height: 50%;
}

.list-offers{

	.my-item {
		left: 0;
		right: 0;
	}
	.item-divider .item-content{
		background: none;
		padding: 0 16px;
	}
	.item-content{
		-webkit-transition-duration: 250ms;
		-moz-transition-duration: 250ms;
		transition-duration: 250ms;
		-webkit-transition-timing-function: ease-in-out;
		-moz-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
		-webkit-transition-property: -webkit-transform;
		-moz-transition-property: -moz-transform;
		transition-property: transform;
	}
	h2{
		font-weight: normal;
	}
	p{
		margin: 0;

		.old-price{
			text-decoration: line-through;
		}
		.new-price{
			color: #fa7c18;
			font-size: 18px;
			font-weight: bold;
			margin-left: 10px;
		}
	}
}

.list-pedido-open .item-content{
	-webkit-transform: translate3d(50px, 0, 0);
	-moz-transform: translate3d(50px, 0, 0);
	transform: translate3d(50px, 0, 0);
}

// .enable-pointer-events {
// pointer-events: auto;
// }
.item-selected {
-webkit-transition: all ease-in-out 125ms;
-moz-transition: all ease-in-out 125ms;
transition: all ease-in-out 125ms;
position: absolute;
top: 0;
left: 0;
z-index: 0;
width: 50px;
height: 100%;
line-height: 100%;
opacity: 0;
display: none;
-webkit-transform: translate3d(-21px, 0, 0);
-moz-transform: translate3d(-21px, 0, 0);
transform: translate3d(-21px, 0, 0);
-webkit-transition-delay: 125ms;
-moz-transition-delay: 125ms;
transition-delay: 125ms;
}


.list-pedido-open .item-selected {
opacity: 1;
display: block;
-webkit-transform: translate3d(8px, 0, 0);
-moz-transform: translate3d(8px, 0, 0);
transform: translate3d(8px, 0, 0);
}






