<div class="modal">
    <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
        <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
    </ion-header-bar>
    <ion-content>
    <form ng-submit="doLogin()">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="loginData.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="loginData.password">
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Log in</button>
            </label>
        </div>
    </form>
    </ion-content>
</div>