<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Categorias</h1>
        </header>
        <ion-content class="has-header" start-y="55">
            <div class="bar-light bar-header item-input-inset">
                <div class="item-input-wrapper">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" placeholder="Buscar" ng-model="vm.search">
                    <i ng-if="vm.search.length" class="clear-search icon ion-ios-close" ng-click="vm.clearSearch()"></i>
                </div>
                <button ng-if="vm.search.length" class="button button-clear" ng-click="vm.clearSearch()"> Cancel </button>
            </div>
            <ion-list>
                <ion-item nav-clear menu-close> Pizzaria </ion-item>
                <ion-item nav-clear menu-close> Pastel </ion-item>
                <ion-item nav-clear menu-close> Oriental </ion-item>
                <ion-item nav-clear menu-close> Lanchonete </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>