<ion-view title="Favoritos" ng-init="vm.flagEdit = false;">

	<ion-nav-buttons side="right">
		<button ng-click="vm.flagEdit = false" ng-show="vm.flagEdit" class="button button-clear">OK</button>
	</ion-nav-buttons>

	<ion-content padding="false" has-tabs="true" has-header="true" start-y="55">

		<div class="bar bar-sub-header item-input-inset">
			<div class="item-input-wrapper">
				<i class="icon ion-ios7-search placeholder-icon"></i>
				<input type="search" placeholder="Buscar" ng-model="vm.search">
				<i ng-if="vm.search.length" class="clear-search icon ion-ios7-close-empty" ng-click="vm.clearSearch()"></i>
			</div>
		</div>

		<div class="list">
			<div class="row unlimited-items">
				<div class="col animate-repeat" ng-class="{'wiggle': vm.flagEdit}" ng-repeat="(key, favorite) in vm.favorites | filter:vm.search track by $index" on-hold="vm.flagEdit = true">
					<div class="wrapp_favorite">
						<span ng-show="vm.flagEdit" ng-click="vm.removeItem(favorite)" ng-class="{'fadeInRight': vm.flagEdit, 'fadeOutRight': !vm.flagEdit}" class="badge badge-assertive animated">&times;</span>
						<a href="#app/tabs/favorite/{{favorite.id}}"> <img ng-src="{{favorite.photo}}" class="img_favorited" alt="{{favorite.nome}}"> </a>
						<p>{{vm.limitText(favorite.nome)}}</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>