<ion-view title="Configurações">
	<div class="bar bar-subheader bar-assertive">
		<h2 class="title">Sub Header</h2>
	</div>
	<ion-content class="has-subheader">
		<ion-list>

			<div class="item item-divider"> Candy Bars </div>
  			<a class="item item-icon-right" href="#app/tabs/teste"> Butterfinger <i class="icon ion-chevron-right icon-accessory"></i></a>

		</ion-list>
	</ion-content>
</ion-view>

<script id="templates/teste.html" type="text/ng-template">
	<ion-view title="teste">
		<ion-content class="has-header">
			testando configurações
		</ion-content>
	</ion-view>
</script>