<ion-view title="Ofertas">
	<ion-content class="has-header">
		<ion-list>
			<ion-item class="item-icon-right item-avatar" ng-repeat="(key, oferta) in vm.ofertas track by $index" ng-href="#app/tabs/offer/{{oferta.id}}">
				<img ng-src="{{oferta.photo}}" style="border-radius: 50%;">
			    <h2>{{oferta.nome}}</h2>
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
				<ion-option-button class="button-calm" ng-click="vm.favoritePlace(oferta.id)"> <i class="assertive icon" ng-class="{'ion-ios-heart-outline': !oferta.isFavorite, 'ion-ios-heart': oferta.isFavorite}"></i> </ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>