<ion-view title="Todos">

	<ion-tabs class="tabs-striped tabs-top tabs-background-light tabs-assertive">

		<ion-tab title="List View" icon="icon ion-ios-list-outline" href="">
			<ion-content class="has-tabs has-tabs-top">
				<ion-list>
					<ion-item class="item-icon-right item-avatar" ng-repeat="(key, place) in vm.positions track by $index" ng-href="#app/tabs/mapfavorite/{{place.id}}">
						<img ng-src="{{place.photo}}" style="border-radius: 50%;">
					    <h2>{{place.nome}}</h2>
					    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
						<i class="icon ion-chevron-right icon-accessory"></i>
						<ion-option-button class="button-calm" ng-click="vm.favoritePlace(place.id)"> <i class="assertive icon" ng-class="{'ion-ios-heart-outline': !place.isFavorite, 'ion-ios-heart': place.isFavorite}"></i> </ion-option-button>
					</ion-item>
				</ion-list>
			</ion-content>
		</ion-tab>

		<ion-tab title="Map View" icon="icon ion-map" href="#/app/tabs/maps" on-deselect="vm.disableMap()">
			<ion-content class="has-header has-tabs-top" scroll="false">
				<div class="mapWrap"  data-tap-disabled="true">
					<map zoom="16" zoom-control="false" map-type-control="false" street-view-control="false">
						<marker position="current-location" animation="Animation.DROP" icon="images/icon_currentlocation.svg"></marker>
						<marker ng-repeat="pos in vm.positions track by $index" position="{{pos.lat}},{{pos.lng}}" animation="Animation.DROP" icon="images/icon_marker.svg" on-click="showInfoPlace(event, pos)"></marker>
						<info-window id="marker-info" style="width: 100%">
							<div ng-non-bindable>
								<div>
									<div class="item item-avatar" style="border: 0;">
										<img src="images/foto-80x80.jpg" style="border-radius: 50%;">
										<h2>{{vm.marker.nome}}</h2>
										<p>Lorem ipsum dolor.</p>
									</div>

									<div class="row" style="border-top: 2px solid #444 !important;">
										<a class="col icon-infowindow" href="" ng-click="vm.favoritePlace(vm.marker.id)"> <i class="icon ion-ios-heart-outline"></i></a>
										<!-- <a class="col icon-infowindow" href="" ng-click="vm.setDirections(vm.marker)"> <i class="icon ion-map"></i></a> -->
										<a class="col icon-infowindow" ng-href="#app/tabs/mapfavorite/{{vm.marker.id}}"> <i class="icon ion-forward"></i></a>
									</div>
								</div>

							</div>
						</info-window>
					</map>
				</div>
			</ion-content>
		</ion-tab>

	</ion-tabs>

	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button ng-click="vm.findPlace()" class="button button-icon icon ion-ios-search-strong"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button ng-click="vm.centerOnMe()" class="button button-icon icon ion-ios-navigate-outline"></button>
	</ion-nav-buttons>

</ion-view>

<script type="text/ng-template" id="template/searchModal.html">
	<div class="modal">
		<div class="bar bar-header bar-assertive item-input-inset">
			<div class="item-input-wrapper">
				<i class="icon ion-ios7-search placeholder-icon"></i>
				<google-autocomplete></google-autocomplete>
				<i ng-if="vm.locationAddress.length" class="dark clear-search icon ion-ios-close" ng-click="vm.clearSearch()"></i>
			</div>
			<button class="button button-clear" ng-click="closeFinder()">Voltar</button>
		</div>
		<div class="bar bar-subheader bar-light">
			<button class="button button-clear button-dark icon-left ion-android-locate" ng-click="closeFinder(); vm.centerOnMe()"> Buscar perto de minha localização </button>
		</div>
		<ion-content class="has-subheader">
			<ion-list>
				<div class="item item-divider"> Recéns procurados </div>
				<a class="item item-icon-right" href="" ng-repeat="address in historySearch track by $index" ng-click="vm.goToAddress(address)"> {{address.formatted_address}} <i class="icon ion-chevron-right icon-accessory"></i></a>
			</ion-list>
			<div class="padding">
				<button class="button button-block button-stable" ng-click="vm.clearHistory()" ng-show="historySearch.length > 0"> Limpar histórico </button>
			</div>
		</ion-content>
	</div>
</script>