<ion-view>
    <ion-tabs class="tabs-light">

        <!-- Favorites Tab -->
        <ion-tab icon-on="ion-ios-heart assertive" icon-off="ion-ios-heart-outline assertive" href="#/app/tabs/favorites">
            <ion-nav-view name="tab-favorites"></ion-nav-view>
        </ion-tab>

        <!-- Maps Tab -->
        <ion-tab icon-on="ion-ios-location assertive" icon-off="ion-ios-location-outline assertive" href="#/app/tabs/maps">
            <ion-nav-view name="tab-maps"></ion-nav-view>
        </ion-tab>

        <!-- Ofertas Tab -->
        <ion-tab icon-on="ion-ios-pricetags assertive" icon-off="ion-ios-pricetags-outline assertive" href="#/app/tabs/offers">
            <ion-nav-view name="tab-offers"></ion-nav-view>
        </ion-tab>

        <!-- Config Tab -->
        <ion-tab icon-on="ion-ios-more assertive" icon-off="ion-ios-more-outline assertive" href="#/app/tabs/settings">
            <ion-nav-view name="tab-settings"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>