<ion-nav-buttons side="right">
	<button ng-click="modal.show()" class="button button-icon icon ion-android-restaurant"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
	<button ng-click="" class="button button-icon icon ion-android-favorite-outline"></button>
</ion-nav-buttons>

<ion-view title="">
	<ion-content class="has-header" scroll="false" styl="background-color: #ccc;">
		<div class="bg-header">
			<div class="swiper-container" style="height: 100%">
				<div class="swiper-wrapper">
					<!-- slides -->
					<div class="swiper-slide" ng-repeat="(key, image) in vm.template.gallery track by $index" ng-class="{'swiper-slide-first': $index == 0}" ng-repeat-end>
						<div style="background-image: url({{image}});" class="bg-img"></div>
						<div class="overlay" ng-show="$index == 0"></div>
						<h1 ng-show="$index == 0">{{vm.template.nome}}</h1>
					</div>
				</div>
			</div>
			<div class="pagination"></div>
		</div>
		<div class="box-info padding">
			<div class="count-img">
				<i class="icon ion-images"></i>
				<span>{{vm.template.gallery.length}}</span>
			</div>
			<div class="category">
				<span>categoria</span>
				<span class="open">Aberto</span>
				<!-- <span class="close">Fechado</span> -->
			</div>
			<div class="address">
				<p>Av. Nossa Senhora de Fátima, 18-82</p>
				<p>Jardim Estoril</p>
				<p>Bauru</p>
			</div>
		</div>
		<div class="content-map">
			<map zoom="15" center="current-position" disable-double-click-zoom="true" draggable="false" zoom-control="false" map-type-control="false" street-view-control="false">
				<marker position="current-location" animation="Animation.DROP" icon="images/icon_currentlocation.svg"></marker>
			</map>
		</div>
	</ion-content>
</ion-view>

<!-- cardapio modal -->
<script type="text/ng-template" id="template/cardapioModal.html">
	<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-assertive">
			<button class="button button-clear button-primary" ng-click="modal.hide()">Voltar</button>
			<h1 class="title">Cardápio</h1>
			<!-- <ion-toggle ng-model="shouldShowDelete">
			  Show Delete?
			</ion-toggle> -->
			<button class="button button-icon icon ion-ios-compose-outline" ng-click="vm.flagPedido = !vm.flagPedido"></button>
        </ion-header-bar>

		<ion-content class="has-header">

			<!-- <div class="bar bar-subheader item-input-inset">
				<div class="item-input-wrapper">
					<i class="icon ion-ios7-search placeholder-icon"></i>
					<input type="search" placeholder="Buscar" ng-model="vm.search">
					<i ng-if="vm.search.length" class="clear-search icon ion-ios7-close-empty" ng-click="vm.clearSearch()"></i>
				</div>
			</div> -->

			<ion-list class="list-offers has-subheader" ng-class="{'list-pedido-open': vm.flagPedido}">
			<!-- <ion-list class="list-offers has-subheader" ng-class="{'list-pedido-open': vm.flagPedido}" show-delete="shouldShowDelete"> -->
				<ion-item class="item item-checkbox my-item"
				   collection-repeat="item in vm.cardapio"
				   collection-item-height="vm.getItemHeight(item)"
				   collection-item-width="'100%'"
				   style="padding: 0"
				   ng-class="{'item-divider': item.isDivider}">

				   		<ion-checkbox ng-if="!item.isDivider" ng-model="item.isChecked">
				   			<h2>{{item.nome}}</h2>
				       		<p class="new-price">{{item.price}}</p>
				   		</ion-checkbox>

				   		<h2 ng-if="item.isDivider">{{item.nome}}</h2>

				   		<!-- <ion-delete-button class="ion-minus-circled"></ion-delete-button> -->
				   		<!-- <input type="checkbox" class="item-selected"> -->


				</ion-item>

				<!-- <div class="item item-divider"> Pratos de entrada </div>
				<a class="item" href="" ng-repeat="item in vm.cardapio">
					<p>{{item.nome}}</p>
					<p>
				    	<span class="new-price">{{item.price}}</span>
				    </p>
				</a> -->
			</ion-list>
		</ion-content>
	</ion-modal-view>
</script>